#game{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#hud{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
}

#foreground {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 250;
}